################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet/.vs/CloudLibrary/v14/.suo
/DotNet/Common/Source/bin
/DotNet/Common/Source/obj
/DotNet/Common/StyleCop.Cache
/.vs/CloudLibrary/v14/.suo
/DotNet/Common/UnitTest/bin
/DotNet/Common/UnitTest/obj
/DotNet/Common/UnitTest/StyleCop.Cache
/DotNet/TestResults
/DotNet/Tools/WindowsEventSourceCreator/bin
/DotNet/Tools/WindowsEventSourceCreator/obj
/DotNet/Shared/UnitTestHelper/bin
/DotNet/Shared/UnitTestHelper/obj
/DotNet/Shared/UnitTestHelper/StyleCop.Cache
