################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet/.vs/CloudLibrary/v14/.suo
/DotNet/Common/Souce/bin/Debug
/DotNet/Common/Souce/obj/Debug
/DotNet/Common/StyleCop.Cache
/.vs/CloudLibrary/v14/.suo
