<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NotExist" type="CloudLibrary.Common.Configuration.XmlConfigurationSectionHandler, CloudLibrary.Common"/>
    <section name="empty" type="CloudLibrary.Common.Configuration.XmlConfigurationSectionHandler, CloudLibrary.Common"/>
    <section name="test" type="CloudLibrary.Common.Configuration.XmlConfigurationSectionHandler, CloudLibrary.Common"/>
  </configSections>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="TraceForTest" type="CloudLibrary.Shared.CommonUnitTestHelper.TraceListenerForTest, CloudLibrary.Shared.CommonUnitTestHelper" initializeData="" />
      </listeners>
    </trace>
  </system.diagnostics>
  <empty />
  <test attribute="top">
    <data>
      <int>value</int>
      <object type="collection">
          <item value="1" />
          <item value="2" />
          <item value="3" />
      </object>
    </data>
  </test>
</configuration>